<% provide(:title, 'Business Information') %>

<div class="container">
  <h1>Business Information<br>
      <small>Procedures for Establishing and Conducting Business in Lagos State</small></h1>
</div>