<% provide(:title, 'Emergency Contact') %>

<div class="container">
  <h1><%= @emergency_response.name.pluralize %></h1>
    <hr/>
    <ul class="list-unstyled">
    <% @emergency_responses.each do |emergency_response| %>
      <li><%= emergency_response.name %></li>
    <% end %>
    </ul>
</div>