<% provide(:title, 'Executive Council') %>

<div class="container">
  <h1>Executive Council <br><small> His Excellency, The Governor of Lagos State <br>and His Cabinet of Commissioners and Heads of Government Bodies</small></h1>

  <hr>
  
</div>