<% provide(:title, 'National Anthem') %>

<div class="container">
  <div>
    <h1>Nigerian National Anthem</h1>
  </div>
   <div>
    <h1>Nigerian Pledge</h1>
  </div>
   <div>
    <h1>Nigerian Coat of Arms</h1>
  </div>

</div>