<% provide(:title, 'Body of Benchers') %>

<div class="container">
  <h1>Judiciary Arm of Lagos State Government <br><small> Chief Justice and Counsel of Lagos State Judges</small></h1>

  <hr>
  
</div>