<% provide(:title, "About Lasvue") %>

<h1 id="aboutheader">Information Where it belongs</h1>
<blockquote>
<p id="about" style="display:none" class="lead"><h2 class="text-left"><small>I came across a beautiful object a fews years ago. A personalized leather bound diary awarded to Lagos State Judges, with their names embossed on it. A section of its preceding pages had details on the great state of Lagos; its history, districts, contacts for its legistlative, executive, and judiciary government branches and so on. It even had emergency contact for police commands, health centres, and fire stations. It was beautiful; a google on Lagos stuck in leaves of paper. I decided to put this revelant and useful information where it belonged; the web. I wasn't just going to put it online, that's daunting in itself (and honestly, it already exists online here and there), I was determined to make it beautiful. I wanted to share the experience of leafing through that leather bound diary. I hope to accomplish this feat with Lasvue. <footer>Bode Fuwa<br>Creator <cite title="Lasvue">Lasvue</cite></footer></small></h2></p></blockquote>

<div class="well">
  <h1>Tourist Information</h1>
  <hr/>
  <h1 class="text-left"><small>
    <ul class="list-unstyled">
      <li>History of Lagos</li>
      <li><hr></li>
      <li>Local Attractions</li>
       <li><hr></li>
      <li>Tourist Sites</li>
      <li><hr></li>
      <li>International Dialing Codes</li>
      <li><hr></li>
      <li>Nigerian Embassy and Liaison offices around the world</li>
      <li><hr></li>
      <li>Hotel Information</li>
    </ul>
  </small></h1>
</div>

<div>
  <panel>
  <h1>Reference Guides, Directories, Contact Information</h1>
  <hr/>
  <h1 class="text-left"><small>
    <ul class="list-unstyled">
      <li>District Information</li>
      <li><hr></li>
      <li>Executive, Legislative and Judiciary Contact</li>
      <li><hr></li>
      <li>State Services Office Locations</li>
      <li><hr></li>
      <li>Ministerial Directory</li>
      <li><hr></li>
      <li>Officials Contact</li>
      </ul>
    </small></h1>
  </panel>
</div>

<div class="well">
  <h1>Emergency Information</h1>
  <hr/>
  <h1 class="text-left"><small>
    <ul class="list-unstyled">
      <li>Emergency Services</li>
      <li><hr></li>
      <li>Police Commands</li>
      <li><hr/></li>
      <li>Fire Stations</li>
      <li><hr/></li>
      <li>Hospitals and Health Centres</li>
    </ul>
  </small></h1>
</div>