<% provide(:title, "Home") %>

<h1 id="banner">Lasvue | A View of Lagos</h1>
<p id="p2" class="center" style="display:none"><%= image_tag('lagos-at-night.jpg') %></p>

<p id="p1">The Centre of Excellence.</p>