<% provide(:title, Meet Lagos) %>

<!-- Profile on Lagos -->
<div>

</div>

<!-- Location -->
<div>

</div>

<!-- Relief -->
<div>

</div>

<!-- Demography -->
<div>

</div>

<!-- Megacity -->
<div>

</div>