<% provide(:title, 'Government Forms') %>

<h1>Government Forms<br><small>
    Downloadable Government Forms</small></h1>

<div class="container">
  <!--  LASRRA Forms  -->

<!-- Vote Registration Forms -->

<!-- LIRS Forms -->
 
<!-- Lands Forms -->

<!-- Medical/Health Forms -->
 
<!-- Academic Forms -->

<!-- Lands Forms -->

<!-- Businsess Forms -->
</div>
