/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

.navbar {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
  
  #navbar, #headermenu {
    font-weight: bold;
    &:hover {
      color: #fff;
      background: #7ba14f;
    }
  color: #4f7ba1;
  text-decoration: none;
  }

  .nav, .navbar-nav, #nav-menu, li, dropdown, ul {
      &:hover {
    color: #000000;
    text-decoration: none;
    }
  }

  li, ul {
    &:hover {
      color: #a72d14;
  text-decoration: none;
    }
  }
}


// Variables
@link-color:       @brand-primary;
@link-hover-color: darken(@link-color, 15%);
@font-size-base: 14px;
@brand-primary: darken(#428bca, 6.5%); // #337ab7
@brand-success: #5cb85c;
@brand-info:    #5bc0de;
@brand-warning: #f0ad4e;
@brand-danger:  #d9534f;
// Usage
a {
  //color: @link-color;
  text-decoration: none;

  &:hover {
    //color: @link-hover-color;
    //text-decoration: underline;
  }
}

body {
  padding-top: 60px;

}

container {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

/* header */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #7ba14f;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #a72d14;
  text-decoration: none;
}

.nav {
  
  .nav:hover {
    color: #a72d14;
    text-decoration: none;
  }
}

.dropdown-menu li:hover .sub-menu {
  visibility: visible;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

/* Typograhpy */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}