<% provide(:title, 'Profile On Lagos') %>

<div class="well">
  <h2>Profile on Lagos</h2>
  <p>
  	Lagos State was created on May 27, 1967 by virtue of States (Creation and Transitional Provisions) Decree No. 14 0f 1967,
    				which restructured Nigria\'s Federations into 12 States Prior to this, Lagos Municipality was administered as a Federal Territory by the Federal Government through the 
    				Federal Ministry of Lagos Affairs as the regional authority, while the Lagos City Council governed the City of Lagos. Equally, the Metropolitan areas (Colony Province) 
    				of Ikeja, agege, Mushin, Ojo, Iorodu, Epe, and Badagry were theen administered  by the Western Region Governemtn. The State took off as an administrative entity on Aprill 11, 1968
    				with Lagos Island service the dual role of being the State and Federal Capital Territory of Abuja in 1976, Lagos ceased to be the capital of the tate, which was moved to Ikeja. 
    				Similarly, with the formal relocation of the seat of the Federal Government to Abuja on 12th December, 1991, Lagos ceased to be Nigeria\'s political capital. Nevertheless, Lagos 
    				remains the nation\'s economic and commercial capital. According to extant political records,
    				(Lagos is to the people of Nigeria, what the head is to the body of an individual)
  </p>
</div>
</p>
      </div>
      <div>
        <h2>Location-Extent</h2> 
      <p>
      		The State is located on the South-Western part of Nigeria, on the narrow plain of the Bight of Benin. Lying approximately on longitude 20 42\'E and 32 2\'E respectively, 
      		and between latitude 60 22\'N and 60 2\'N Lagos State is bounded in the North and East by Ogun State of Nigeria, in the West by Repulbic of Benin, and stretches over 180 kilometers along the Guinea 
      		Coast of Bight of Benin on the Atlantic Ocean. Its territorial extent and political jurisdiction encompasses the city of Lagos and the four administrative divisions of Ikeja, Ikorodu, Epe and Badagry 
      		collectively referred to as IBILE and covering an area of 358.862 hectares or 3,577 sq. km. which represents 0.4% of Nigeria\'s territorial landmass of 923,773 sq. km.
      		</p>
      </div>
      <div class="well">
        <h2>Relief</h2> 
      <p>
      		The dominant vegetation of the State is the swamp forest of the fresh water and mangrove swamp forests, both of which are influenced by the double rainfall pattern of
      		the state, which makes the environment a wetland region. Generally, the State has two climatic seasons: Dry (November-March) and Wet(April-October). The drainage system of Lagos State is characterized by a 
      		maze if lagoons and waterways, which constitude about 22% or 787 sq. km. (75.755 hectare) of the State territory. The major water bodies are the Lagos and Lekki Lagoons, Yewa, Ogun, Oshun, and Kweme Rivers. 
      		Others are Ologe Lagoon, Kuramo Waters, and Badary, Five Cowries and Omu Creeks respectively.
        </p>
      </div>
      <div>
        <h2>Demgraphy</h2> 
      <p>
     	Lagos State is the smallest state in Nigeria by size, yet it has the highest urban population, which 27.4% of the national estimate (UN-Habitat). According to the 2006 National Census, 
      	Lagos State has a population of 9,013,534 in relation to the National count of 140,003,542. Howerver, based on the UN-Habitat and international development agencies\' estimates, Lagos State is said to have about 
      	18.5 million inhabitants in 2008. Of this population, Metropolitan Lagos  accounts for over 85% on an area that is 37% of the land area of Lagos State. With the above in view, Lagos State has a population density 
      	of about 5,171 persons per sq. km. as at 2008. Following this trend, and the fact that Lagos population of 32 African nations combined, the State population is expected to hit the 20 million mark in 2010. At this 
      	point, Lagos will become the third largest global megacity with a probability of attaining a population of 24.6 million in 2015
      	</p>
      </div>
      <div class="well">
        <h2>The Lagos Megacity</h2> 
      <p>
        Lagos, Nigeria\'s lagoon city, Africa\'s leading NEPAD City and World\'s sixth megacity is a bourgeoning global urban agglomeration which atatined megacity status in 1995 when its 
      	population soared to ier 10 million people, per UN-Habitat. From its global city ranking of 31st of 1985, Lagos population exploded to 13.4 million in Y2000 to become world\'s sixth megacity and Africa\'s foremost 
      	urban centre and hub of national, regional and global soci-economic and political activities. The Megacity region, which approximates to 17 of the State\'s 20 local govenment area and impinges imperceptibly on four 
      	local government areas of the adjoning Ogun State of Nigeria, is geophrically disjointed (maze of Islands/Mainland), located on poor soil (wetlands) and overwhelmed by its growth (6%-8% urbanization rate).
      	</p>
      </div>
      <div>
        <h2>The People Of Lagos</h2> 
      <p>
        Lagos State is essentially a Yoruba environment inhabited by its sub-nationality of Aworis and Ogus in Ikeja and Badagry Divisions respectively, with the Ogus being found mainly in 
      	Badagry and the Awori forming the indigenous population of Lagos where there are, nvertheless, other pioneer immigrant settlers - Edo, Saros, Brazilians, Kannike/Tapa, etc collectively called Lagosians but more 
      	appropriately referred to as the Ekos. For Ikorodu and Epe Divisions, the local populations are minly Remos and Ijebus with pockets of Eko-Awori settlers along the entire State coastland and riverine areas. However, 
      	despite its Yoruba indigeneity, the State is a global socio-cultural melting pot attracting Nigerians, Africans and foreigners alike. The situation is attributable to its sound economic base, strategic maritime location 
      	and socio-political importanct, which induced a high rate of migration to the State.
      	</p>
      </div>
      <div>
        <h2>Administrative Divisions</h2> 
      <p>
      	With a territorial land area of 351,861 hectares, Lagos State is made of administrative divisions, namely: Ikeja, Badagry, Ikorodu, Lagos (Eko) and Epe. The divisions were 
      	created in May 1968 by virtue of Administrative Divsions (Establishment) Edict No. 3 of April 1968. The Divisions are further divided into 20 local governments and 37 local council development areas respectively, in 
      	accordance with Nigeria\'s Federal structure and the need to bring governance, development and participatory democracy to the grassroots.
  </p>  
</div>